<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>

<body style="background:#0f172a; color:white; font-family:sans-serif;">

<h2>Admin Dashboard</h2>

{% if ads|length == 0 %}
    <p>No Ads Found</p>
{% else %}

    {% for ad in ads %}
        <div style="border:1px solid gray; margin:10px; padding:10px;">
            
            <p><b>Name:</b> {{ ad[2] }}</p>
            <p><b>Department:</b> {{ ad[3] }}</p>
            <p><b>Duration:</b> {{ ad[5] }} days</p>
            <p><b>Status:</b> {{ ad[6] }}</p>

            <img src="/{{ ad[4] }}" width="200">

            <br><br>

            <a href="/accept_ad/{{ ad[0] }}">✅ Accept</a> |
            <a href="/reject_ad/{{ ad[0] }}">❌ Reject</a> |
            <a href="/publish_ad/{{ ad[0] }}">🚀 Publish</a>

        </div>
    {% endfor %}

{% endif %}

</body>
</html>